*                           @mchaamsler @MeteoSwiss/data-stewards
**/a-data-groundbased       @MeteoSwiss/groundbased-team
**/b-data-atmosphere        @MeteoSwiss/atmosphere-team
**/c-climate-data           @MeteoSwiss/climate-team
**/d-radar-data             @MeteoSwiss/radar-team
**/e-forecast-data          @MeteoSwiss/forecast-team
